{% extends 'checkin/main.html' %}

{% block content %}
       

    <div class="row">

        <div class="col-md">
            <div class="card card-body">
                <h5>Total  visitor/tenant</h5>
                <hr>
                <h1 style="text-align: center; padding: 10px;">{{total_users}}</h1>
            </div>
        </div>

    </div>


    <br>   

    <div class="row">
      <div class="col">
            <div class="card card-body">
                <form method="GET">
                    {{myFilter.form}}
                    <button class="btn btn-primary" type="submit">Search</button>

                </form>
            </div>
        </div>
    </div>

    <br>

    <div class="row">
        <div class="col-md">
            <div class="card card-body">
                <table class="table table-sm">
                    <tr>
                        
                        <th>Name</th>
                        <th>Temperature</th>
                        <th>Id_no</th>
                        <th>Telephone</th>
                        <th>Company</th>
                        <th>Date</th>
                        <th>Update</th>
                        <th>Remove</th>
                    </tr>
                    {% for i in users %}
                        <tr>
                            <td>{{i.Name}}</td>
                            <td>{{i.Temperature}}</td>
                            <td>{{i.user_id}}</td>
                            <td>{{i.Telephone}}</td>
                            <td>{{i.Company}}</td>
                            <td>{{i.Date_created}}</td>
                            <th><a class="btn btn-sm btn-info" href="{% url 'update' i.id %}">Update</a></th>
                            <th><a class="btn btn-sm btn-danger" href="{% url 'delete' i.id %}">Delete</a></th>
                        </tr>
                    {% endfor %}
                </table>
            </div>
        </div>
    </div>
        
















{% endblock %}